{% extends "base.html" %}
{% block content %}
<h2 class="text-center">Bem-vindo ao UniAgenda</h2>
<div class="d-grid gap-2 mt-4">
  <a class="btn btn-outline-primary" href="{{ url_for('main.login') }}">Login Cliente</a>
  <a class="btn btn-outline-success" href="{{ url_for('main.register') }}">Cadastro Cliente</a>
  <a class="btn btn-outline-info" href="{{ url_for('main.empresa_login') }}">Login Empresa</a>
  <a class="btn btn-outline-secondary" href="{{ url_for('main.empresa_register') }}">Cadastro Empresa</a>
  <a class="btn btn-outline-danger" href="{{ url_for('main.admin_login') }}">Login Administrador</a>
</div>
{% endblock %}
